body {
  margin: 0;
  background: black;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.container img {
  width: 100%;
  display: block;
}

/* Zones cliquables */
.hotspot {
  position: absolute;
  z-index: 9999;
  cursor: pointer;
}

/* BOUTON ROUGE */
.live {
  top: 46%;
  left: 14%;
  width: 33%;
  height: 9%;
}

/* BOUTON JAUNE */
.page {
  top: 46%;
  left: 52%;
  width: 33%;
  height: 9%;
}

/* MODE DEBUG (TEMPORAIRE) */
.hotspot {
  background: rgba(255, 0, 0, 0.3);
}
